name: Build
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
jobs:
  build-project:
    name: Build Project
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Project
        uses: actions/checkout@v6.0.1

      - name: Setup pnpm
        uses: threeal/setup-pnpm-action@v1.0.0

      - name: Install Dependencies
        run: pnpm install

      - name: Check Types
        run: pnpm --recursive exec tsc

      - name: Test Project
        run: pnpm --recursive test

      - name: Check Formatting
        run: |
          pnpm prettier --check .
          pnpm --recursive exec prettier --check .

      - name: Check Lint
        run: pnpm --recursive exec eslint

      - name: Build Project
        run: pnpm --recursive build
